<p><%= task.content %></p>
<%= link_to "Delete", project_task_path(@project, task.id), method: :delete, data: {confirm:"Are you sure?"} %>
<%= link_to "Mark as Complete", complete_project_task(@project, task.id) method: :patch %>